html, body, div, span {
    border: 0 none;
    font-size: 100%;
    margin: 0;
    outline: 0 none;
    padding: 0;
    font-family: Tahoma, Geneva, sans-serif;
}

#topBar {
    background-color: #555555;
    padding-bottom: 4px;
    color: #ffffff;
    z-index: -2;
    height: 24px;
}

#columnSelection {
    font-size: 12px;
    position: relative;
    left: 14px;
    /*top: -1px;*/
    z-index: 10;
}

#topBar a {
    color: white;
}

#back img {
    height: 15px;
    position:relative;
    left: 4px;
    top: 1px;
    z-index: 10;
}

#lastUpdatedWrapper {
    font-size: 12px;
    position:absolute;
    top: 6px;
    right: 5px;
    font-style: italic;
}

#title {
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    display: block;
    position: relative;
    top: -21px;
    text-align: center;
}

#logo {
    font-size: 18px;
    position: relative;
    left: 7px;
    top: 1px;
    z-index: 10;
    /*padding-right: -2px;*/
}

#logo a {
    text-decoration: none;
}

.logo-bordered {
    padding-left: 10px;
    padding-right: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#dashboardSelection {
    padding-left: 10px;
}

#images ul {
    margin: 3px 0 0 3px;
    padding: 0px;
}
.images-draggable { list-style-type: none; margin: 0; margin-top: 5px; padding: 0  }
#images li { float: left; text-align: left; margin-right: 8px; margin-top: 0px; overflow: auto; }



.imageGrid {
    /* Prevent vertical gaps */
    width: 100%;
    -webkit-column-gap:   0px;
    -moz-column-gap:      0px;
    column-gap:           0px;
}
.imageGrid img {
    /* Just in case there are inline attributes */
    width: 99% !important;
    height: auto !important;
    margin-bottom: 3px;
}
